Segíts a Wikipédia jobbá tételében egy rövid kérdőív kitöltésével!

Kedves $username_plain!

Azért kaptad ezt az üzenetet, mert a magyar Wikipédia aktív szerkesztője voltál, azonban egy ideje már nem szerkesztesz. A [https://wikimedia.hu/ Wikimédia Magyarország Egyesület] programot indított a [[Wikipédia:Szerkesztők megtartása|Wikipédia szerkesztőinek megtartására]]. A program hangsúlyos része, hogy megpróbáljuk pontosabban megérteni a szerkesztők Wikipédiával kapcsolatos élményeit, problémáit, és azt, hogy mi vezet a szerkesztők megmaradásához, vagy ahhoz, hogy abbahagyják a szerkesztést.

Adataidat bizalmasan, [https://wikimedia.hu/wiki/Adatv%C3%A9delmi_ir%C3%A1nyelvek adatvédelmi irányelveinkkel] összhangban kezeljük, azokhoz kizárólag [[User:Samat|Samat]], a kutatással kapcsolatban fér hozzá. A válaszokat nem hozzuk anonimizálás nélkül nyilvánosságra.

'''[https://docs.google.com/forms/d/e/1FAIpQLSezVvJ8oGzXcGZoaIlCGXnJbeWjdmB5zSyb9Kb9MHgGWZBoWg/viewform?usp=pp_url&entry.1844550328=$username_encoded Kérjük, szánjál 5-10 percet a kérdőív kitöltésére!]'''

Válaszaid segítenek abban, hogy a magyar Wikipédia a jövőben könnyebben megtarthassa önkéntes közreműködőit. Köszönjük!

<small>Ha nem szeretnél többet ilyen üzenetet kapni, helyezd el a vitalapodon a <code><nowiki>[[Kategória:Tömeges üzenetküldésből kijelentkezettek]]</nowiki></code> karaktersort.</small>

Üdvözlettel:
[[User:Samat|Samat]] <sup>[[User vita:Samat|üzenetrögzítő]]</sup> ~~~~~
