Segíts a Wikipédia jobbá tételében egy rövid kérdőív kitöltésével!

Kedves $username_plain!

Azért kaptad ezt az üzenetet, mert a magyar Wikipédia aktív szerkesztője voltál, azonban egy ideje már nem szerkesztesz. A Wikimédia Magyarország Egyesület [1] programot indított a Wikipédia szerkesztőinek megtartására [2]. A program hangsúlyos része, hogy megpróbáljuk pontosabban megérteni a szerkesztők Wikipédiával kapcsolatos élményeit, problémáit, és azt, hogy mi vezet a szerkesztők megmaradásához, vagy ahhoz, hogy abbahagyják a szerkesztést.

Adataidat bizalmasan, adatvédelmi irányelveinkkel [3] összhangban kezeljük, azokhoz kizárólag Samat [4], a kutatással kapcsolatban fér hozzá. A válaszokat nem hozzuk anonimizálás nélkül nyilvánosságra.

Kérjük, szánjál 5-10 percet a kérdőív kitöltésére:
https://docs.google.com/forms/d/e/1FAIpQLSezVvJ8oGzXcGZoaIlCGXnJbeWjdmB5zSyb9Kb9MHgGWZBoWg/viewform?usp=pp_url&entry.1844550328=$username_encoded

Válaszaid segítenek abban, hogy a magyar Wikipédia a jövőben könnyebben megtarthassa önkéntes közreműködőit. Köszönjük!


[1] https://wikimedia.hu/
[2] https://hu.wikipedia.org/wiki/Wikip%C3%A9dia:Szerkeszt%C5%91k_megtart%C3%A1sa
[3] https://wikimedia.hu/wiki/Adatv%C3%A9delmi_ir%C3%A1nyelvek
[4] https://hu.wikipedia.org/wiki/Szerkeszt%C5%91:Samat

Ha nem szeretnél többet ilyen üzenetet kapni, helyezd el a vitalapodon a [[Kategória:Tömeges üzenetküldésből kijelentkezettek]] karaktersort.
