Segíts a Wikipédia jobbá tételében egy rövid kérdőív kitöltésével!

Kedves $username_plain!

Azért kaptad ezt az üzenetet, mert a közelmúltban szerkesztettél először a magyar Wikipédiában. A [https://wikimedia.hu/ Wikimédia Magyarország Egyesület] programot indított a [[Wikipédia:Szerkesztők megtartása|Wikipédia szerkesztőinek megtartására]]. A program hangsúlyos része, hogy megpróbáljuk pontosabban megérteni a szerkesztők Wikipédiával kapcsolatos élményeit, problémáit, és azt, hogy mi vezet a szerkesztők megmaradásához, vagy ahhoz, hogy abbahagyják a szerkesztést.

Adataidat bizalmasan, [https://wikimedia.hu/wiki/Adatv%C3%A9delmi_ir%C3%A1nyelvek adatvédelmi irányelveinkkel] összhangban kezeljük, azokhoz kizárólag [[User:Samat|Samat]], a kutatással kapcsolatban fér hozzá. A válaszokat nem hozzuk anonimizálás nélkül nyilvánosságra.

'''[https://docs.google.com/forms/d/e/1FAIpQLSc5cEYB-56N3Wod4xefVfCU2B_kOzJBCmsAQHiRfaiz32sw_g/viewform?usp=pp_url&entry.191774422=$username_encoded Kérjük, szánjál 5-10 percet a kérdőív kitöltésére!]'''

Válaszaid segítenek abban, hogy az újonnan érkező közreműködők a jövőben könnyebben bekapcsolódhassanak a Wikipédia szerkesztésébe. Köszönjük!

<small>Ha nem szeretnél többet ilyen üzenetet kapni, helyezd el a vitalapodon a <code><nowiki>[[Kategória:Tömeges üzenetküldésből kijelentkezettek]]</nowiki></code> karaktersort.</small>


Üdvözlettel:
[[User:Samat|Samat]] <sup>[[User vita:Samat|üzenetrögzítő]]</sup> ~~~~~
